<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem One</title>
</head>
<body>
    <h1>All Students With GPA Higher Than 3.0 Ordered By Highest First</h1>
    <table class="center-table">
        <thead>
            <tr>
                <th>First Name</th><th>GPA</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.first_name}}</td><td>{{student.gpa}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>



